<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BUMMER.... You broke it eh...</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>

    {{!-- CLEARDB DATA TEST --}}
    {{!-- {{#each data}}
          <p>{{project1Image}}</p>
    {{/each}}  --}}
    <div class="errorStyle">
        <h1>404</h1>
        <p>Got a little lost... it happens.<br>
        Just take a ride back home.
        </p>
    <h1>
    <a href="/">
    <img src="images/backButton.svg" class="back" alt="back">
    </a>
    </h1>
    <img src="images/galax.png" class="errorImage" alt="errorImage">

    </div>
    
</body>
</html>