<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Derrik-Xavier Portfolio" />
    <meta name="author" content="Derrik Campbell" />
    <meta name="keywords"  content="digital illustrator, design" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>derrikxavier</title>

    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css">
    <link rel="shortcut icon" type="image/png" href="images/favicon.ico"/>

    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap" rel="stylesheet"> 
</head>

<body>
    
    <h2 class="hidden">Main Body</h2>    
    <main>
    <section id="navigation">
        <header>
        <h2 class="hidden">Navigation</h2>
        <div class="topBar">
            <div class="logo">
                <a href="/"><img src="images/derrikxavier_horzon_logo.svg" alt="derrikxavierLogo"></a>
            </div> 

            <nav id="topNav">
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
        </div>

        <div class="toggleNav">
                <button id="burgBtn"><img src="images/burgMenu.svg" class="menu" alt="Burger Menu"></button>
        </div>
        </header>
    </section>

            <h2 class="hidden">Side Menu</h2>
                <nav id="toggleList">
                    <div class="toggleCont">
                    <ul>
                        <li><a href="/home">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                    <div class="socialToggle">
                            
                                <a href="https://www.behance.net/derrikcampbell"><img src="images/Behance.svg" alt="behance"></a>
                                <a href="https://www.linkedin.com/in/derrikcampbell/"><img src="images/Linkedin.svg" alt="linkedin"></a>
                                <a href="https://www.instagram.com/derrikxavier/"><img src="images/Instagram.svg" alt="instagram"></a>
                                <a href="https://github.com/DerrikC"><img src="images/Github.svg" alt="github"></a>
                            
                     </div>
                    </div>
                </nav>
    
    <section id="introDesc">
            <div class="part1">            
            <h1>Hi, I'm Derrik-Xavier Campbell. I'm a designer and developer.</h1>
            <h2 class="hidden">Introduction</h2>
            </div>

            <div class="part2">Lorem ipsum dolor, sit amet consectetur dolore, adipisicing elit. adipisicing elit. Nisi ulpa optio sit amet voluptatem eum ab. Nihil recusandae dolor enim excepturi? Repudiandae aperiam libero possimus debitis omnis ad expedita dolore asperiores nulla, culpa optio sit amet consectetur adipisicing elit.</div>     
    </section>
    
    <section id="project">
    <h2 class="hidden">Project 1</h2>
            <a class ="projBorder" href="/projects#brief1">
                <img src="images/conceptApp.jpg" class="homeUI" alt="homeUI">
                <div class="cover"><div class="coverTitle1">UI DESIGN</div></div>
            </a>
    </section>

    <section id="project2">
        <h2 class="hidden">Project 2</h2>
        <a class ="projBorder2" href="/projects#brief2">
            <img src="images/3dProj.jpg" class="homeUI" alt="homeUI">
            <div class="cover"><div class="coverTitle1">3D DESIGN</div> </div>
        </a>
    </section>

    <section id="project3">
    <h2 class="hidden">Project 3</h2>
    <a class ="projBorder3" href="/projects#brief3">
        <img src="images/drawProjx.jpg" class="homeUI" alt="homeUI">
        <div class="cover"><div class="coverTitle1">ILLUSTRATIONS</div> </div>
    </a>
    </section>

    <section id="project4">
    <h2 class="hidden">Project 4</h2>
    <a class ="projBorder4" href="/projects#brief4">
        <img src="images/websiteDesign.jpg" class="homeUI" alt="homeUI">
        <div class="cover"><div class="coverTitle1">CODING</div> </div>
    </a>
    </section>

    <footer>
             <div id="bottomNav">
                    <ul>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="index.html">Home</a></li>
                    </ul>
            </div> 
            <div class="copyright"><h2>2020 © derrikxavier. All Rights Reserved</h2></div>
    </footer>
    </main>
    <script src="js/main.js"></script> 
</body>
</html>