/*Mobile-------------------------------*/
@media (max-width: 500px) {
  /*HEADER & TOP NAV*/
  #topNav {
    float: right; }

  #topNav ul {
    margin: 0;
    padding: 0;
    font-family: 'Futura', sans-serif;
    display: none;
    list-style: none;
    float: right; }

  #topNav li {
    padding: 10px;
    display: inline-block; }

  .logo {
    width: 100px;
    height: auto;
    float: left; }

  .toggleNav {
    position: absolute;
    right: 0;
    float: right;
    width: 25px;
    padding: 0px 50px 0px 0px; }

  #burgBtn {
    width: 25px;
    cursor: pointer; }

  #toggleList {
    position: fixed;
    display: none;
    right: 0; }

  #toggleList li {
    padding: 10px; }

  #toggleList a {
    text-decoration: none;
    color: black; }

  #toggleList.active {
    display: block;
    position: absolute;
    font-family: 'Oswald', sans-serif;
    font-size: 100px;
    margin-right: 0px;
    color: black;
    background-color: white;
    width: 100%;
    z-index: 999; }

  button {
    border: 0;
    padding: 0;
    background: none; } }
/*Tablet-------------------------------*/
@media (max-width: 768px) and (min-width: 501px) {
  .topBar {
    height: 0; }

  #topNav {
    display: inline-block; }

  #topNav ul {
    margin: 0;
    padding: 0;
    font-family: 'Futura', sans-serif;
    display: none;
    list-style: none;
    float: right; }

  #topNav li {
    padding: 10px;
    display: inline-block; }

  #topNav a {
    text-decoration: none;
    color: black; }

  .logo {
    width: 100px;
    height: auto;
    float: left; }

  #burgBtn {
    cursor: pointer; }

  .toggleNav {
    position: absolute;
    right: 0; }

  .toggleNav img {
    float: right;
    width: 25px;
    padding: 0px 50px 0px 0px; }

  #toggleList {
    position: fixed;
    display: none;
    right: 0; }

  #toggleList li {
    padding: 10px; }

  #toggleList a {
    text-decoration: none;
    color: black; }

  #toggleList.active {
    display: block;
    position: absolute;
    font-family: 'Oswald', sans-serif;
    font-size: 100px;
    margin-right: 0px;
    color: black;
    background-color: white;
    width: 100%;
    z-index: 999; }

  button {
    border: 0;
    padding: 0;
    background: none; }

  #hamMenu {
    display: none; } }
/*HEADER & TOP NAV*/
/*Desktop------------------------------*/
@media (min-width: 769px) {
  /*HEADER & TOP NAV*/
  #topNav {
    float: right; }

  #topNav ul {
    margin: 0;
    padding: 0;
    font-family: 'Futura', sans-serif;
    display: hidden;
    list-style: none;
    float: right; }

  #topNav li {
    padding: 10px;
    display: inline-block; }

  #topNav a {
    text-decoration: none;
    color: white; }

  .logo {
    width: 100px;
    height: auto;
    float: left; }

  #toggleList a {
    display: none; }

  #hamMenu {
    display: none; }

  /*HEADER & TOP NAV*/ }
body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

/*Mobile-------------------------------*/
@media (max-width: 500px) {
  /*BODY CONTENT*/
  .introText p {
    color: #525050;
    font-size: 15px; }

  header {
    display: absolute;
    width: 100%;
    height: 50px;
    margin-bottom: 15px; }

  body h1 {
    font-size: 3rem;
    font-family: 'Oswald', sans-serif;
    margin: 25px 0px 25px 0px; }

  body p {
    margin: 25px 0px 25px 0px;
    font-size: 1.2rem; }

  body {
    font-size: 15px;
    margin: 50px;
    font-family: 'Libre Baskerville', serif;
    color: white;
    background-color: #0E0E0E; }
    body #backgroundAccent {
      background-color: #151516;
      -webkit-clip-path: polygon(100% 0, 100% 100%, 50% 50%);
      clip-path: polygon(100% 0, 100% 100%, 50% 50%);
      /*creates the decorative background triangle*/
      height: 100%;
      width: 100%;
      right: 0;
      position: absolute;
      z-index: -1; }
    body main {
      font-size: 15px;
      margin: 50px; }
    body #project1 {
      display: flex;
      background-color: grey;
      width: 100%;
      height: 200px;
      margin-bottom: 15px; }
    body #project2 {
      display: flex;
      background-color: grey;
      width: 100%;
      height: 200px;
      margin-bottom: 15px; }
    body #project3 {
      display: flex;
      background-color: grey;
      width: 100%;
      height: 200px;
      margin-bottom: 15px; }
    body #project4 {
      display: flex;
      background-color: grey;
      width: 100%;
      height: 200px;
      margin-bottom: 15px; }
    body .bottomLogo {
      float: left;
      position: relative;
      width: 105px;
      height: 105px; }
    body .tagLine {
      font-family: 'Libre Baskerville', serif;
      font-size: 20px;
      position: absolute;
      bottom: 30px;
      margin-left: 20px;
      color: #333333;
      padding-left: 30px;
      padding-right: 20px; }

  /*BODY CONTENT*/
  #pageEnd {
    display: flex; }

  .socialMedia {
    position: absolute;
    right: 0;
    padding: 0px 45px 0px 0px; }

  .socialMedia li {
    float: right; }

  .socialMedia a {
    display: block;
    width: 25px;
    padding: 5px; } }
/*Tablet-------------------------------*/
@media (max-width: 768px) and (min-width: 501px) {
  /*BODY CONTENT*/
  .introText p {
    color: #525050;
    font-size: 15px;
    width: 55%; }

  header {
    display: absolute;
    width: 100%;
    height: 50px;
    margin-bottom: 15px; }

  body h1 {
    font-size: 4rem;
    font-family: 'Oswald', sans-serif;
    margin: 25px 0px 25px 0px; }

  body p {
    margin: 25px 0px 25px 0px;
    font-size: 1.2rem; }

  body {
    font-size: 15px;
    margin: 50px;
    font-family: 'Libre Baskerville', serif;
    color: white;
    background-color: #0E0E0E; }
    body #backgroundAccent {
      background-color: #151516;
      -webkit-clip-path: polygon(100% 0, 100% 100%, 50% 50%);
      clip-path: polygon(100% 0, 100% 100%, 50% 50%);
      /*creates the decorative background triangle*/
      height: 100%;
      width: 100%;
      right: 0;
      position: absolute;
      z-index: -1; }
    body main {
      font-size: 15px;
      margin: 50px; }
    body #project1 {
      display: absolute;
      background-color: grey;
      width: 100%;
      height: 200px;
      margin-bottom: 15px; }
    body #project2 {
      display: absolute;
      background-color: grey;
      width: 100%;
      height: 200px;
      margin-bottom: 15px; }
    body #project3 {
      display: absolute;
      background-color: grey;
      width: 100%;
      height: 200px;
      margin-bottom: 15px; }
    body #project4 {
      display: absolute;
      background-color: grey;
      width: 100%;
      height: 200px;
      margin-bottom: 15px; }
    body .bottomLogo {
      position: relative;
      font-family: Arial;
      width: 105px;
      height: 105px; }
    body .tagLine {
      font-family: 'Libre Baskerville', serif;
      font-size: 20px;
      position: absolute;
      bottom: 30px;
      margin-left: 20px;
      color: #333333;
      padding-left: 30px;
      padding-right: 20px; }

  /*BODY CONTENT*/
  #pageEnd {
    display: flex; }

  .socialMedia {
    position: absolute;
    right: 0;
    padding: 0px 40px 0px 0px; }

  .socialMedia li {
    float: right; }

  .socialMedia a {
    display: block;
    width: 30px;
    padding: 10px; } }
/*Desktop------------------------------*/
@media (min-width: 769px) {
  .introText p {
    color: #525050;
    font-size: 15px;
    width: 55%; }

  button {
    display: none; }

  /*BODY CONTENT*/
  header {
    display: absolute;
    width: 100%;
    height: 50px;
    margin-bottom: 15px; }

  body h1 {
    font-size: 4rem;
    font-family: 'Oswald', sans-serif;
    margin: 25px 0px 25px 0px; }

  body p {
    margin: 25px 0px 25px 0px;
    font-size: 1.2rem; }

  body {
    font-size: 15px;
    margin: 50px;
    font-family: 'Libre Baskerville', serif;
    color: white;
    background-color: #0E0E0E; }
    body #backgroundAccent {
      background-color: #151516;
      -webkit-clip-path: polygon(100% 0, 100% 100%, 50% 50%);
      clip-path: polygon(100% 0, 100% 100%, 50% 50%);
      /* creates the decorative background triangle*/
      height: 100%;
      width: 100%;
      right: 0;
      position: absolute;
      z-index: -1; }
    body main {
      font-size: 15px;
      margin: 50px; }
    body #project1 {
      display: absolute;
      background-color: grey;
      width: 100%;
      height: 200px;
      margin-bottom: 15px; }
    body #project2 {
      display: absolute;
      background-color: grey;
      width: 100%;
      height: 200px;
      margin-bottom: 15px; }
    body #project3 {
      display: absolute;
      background-color: grey;
      width: 100%;
      height: 200px;
      margin-bottom: 15px; }
    body #project4 {
      display: absolute;
      background-color: grey;
      width: 100%;
      height: 200px;
      margin-bottom: 50px; }
    body .bottomLogo {
      position: relative;
      width: 300px;
      height: 300px; }
    body .tagLine {
      font-family: 'Libre Baskerville', serif;
      font-size: 60px;
      position: absolute;
      bottom: 100px;
      margin-left: 20px;
      color: #333333;
      padding-left: 80px;
      padding-right: 20px;
      width: 400px; }

  /*BODY CONTENT*/
  #pageEnd {
    display: flex; }

  .socialMedia {
    position: absolute;
    right: 0;
    padding: 0px 40px 0px 0px; }

  .socialMedia li {
    float: right; }

  .socialMedia a {
    display: block;
    width: 30px;
    padding: 10px; } }
body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

/*Mobile-------------------------------*/
@media (max-width: 500px) {
  /*BODY CONTENT*/
  header {
    display: absolute;
    width: 100%;
    height: 50px;
    margin-bottom: 15px; }

  body h1 {
    font-size: 3rem;
    font-family: 'Oswald', sans-serif;
    margin: 25px 0px 25px 0px; }

  body p {
    margin: 25px 0px 25px 0px;
    font-size: 1.2rem; }

  body {
    font-size: 15px;
    margin: 50px;
    font-family: 'Libre Baskerville', serif;
    color: white;
    background-color: #0E0E0E; }
    body #backgroundAccent {
      background-color: #151516;
      -webkit-clip-path: polygon(100% 0, 100% 100%, 50% 50%);
      clip-path: polygon(100% 0, 100% 100%, 50% 50%);
      /*creates the decorative background triangle*/
      height: 100%;
      width: 100%;
      right: 0;
      position: absolute;
      z-index: -1; }
    body main {
      font-size: 15px;
      margin: 50px; }
    body #bioCont {
      display: flex;
      position: relative;
      background-color: #101010;
      width: 100%;
      height: 40%;
      margin-bottom: 15px; }
    body .bioText {
      width: 30%; }
    body .bioText p {
      font-size: 8px;
      font-family: futura, sans-serif; }
    body .bioProfile {
      display: flex; }
    body .bioProfile img {
      position: absolute;
      width: 200px;
      height: auto;
      right: 0;
      bottom: 0;
      z-index: 1; }
    body #project2 {
      display: flex;
      background-color: grey;
      width: 100%;
      height: 200px;
      margin-bottom: 15px; }
    body .bottomLogo {
      float: left;
      position: relative;
      width: 105px;
      height: 105px; }
    body .tagLine {
      font-family: 'Libre Baskerville', serif;
      font-size: 20px;
      position: absolute;
      bottom: 30px;
      margin-left: 20px;
      color: #333333;
      padding-left: 30px;
      padding-right: 20px; }

  /*BODY CONTENT*/
  #pageEnd {
    display: flex; }

  .socialMedia {
    position: absolute;
    right: 0;
    padding: 0px 45px 0px 0px; }

  .socialMedia li {
    float: right; }

  .socialMedia a {
    display: block;
    width: 25px;
    padding: 5px; } }
/*Tablet-------------------------------*/
@media (max-width: 768px) and (min-width: 501px) {
  /*BODY CONTENT*/
  .introText p {
    color: #525050;
    font-size: 15px;
    width: 55%; }

  header {
    display: absolute;
    width: 100%;
    height: 50px;
    margin-bottom: 15px; }

  body h1 {
    font-size: 4rem;
    font-family: 'Oswald', sans-serif;
    margin: 25px 0px 25px 0px; }

  body p {
    margin: 25px 0px 25px 0px;
    font-size: 1.2rem; }

  body {
    font-size: 15px;
    margin: 50px;
    font-family: 'Libre Baskerville', serif;
    color: white;
    background-color: #0E0E0E; }
    body #backgroundAccent {
      background-color: #151516;
      -webkit-clip-path: polygon(100% 0, 100% 100%, 50% 50%);
      clip-path: polygon(100% 0, 100% 100%, 50% 50%);
      /*creates the decorative background triangle*/
      height: 100%;
      width: 100%;
      right: 0;
      position: absolute;
      z-index: -1; }
    body main {
      font-size: 15px;
      margin: 50px; }
    body #project1 {
      display: absolute;
      background-color: grey;
      width: 100%;
      height: 200px;
      margin-bottom: 15px; }
    body #project2 {
      display: absolute;
      background-color: grey;
      width: 100%;
      height: 200px;
      margin-bottom: 15px; }
    body #project3 {
      display: absolute;
      background-color: grey;
      width: 100%;
      height: 200px;
      margin-bottom: 15px; }
    body #project4 {
      display: absolute;
      background-color: grey;
      width: 100%;
      height: 200px;
      margin-bottom: 15px; }
    body .bottomLogo {
      position: relative;
      font-family: Arial;
      width: 105px;
      height: 105px; }
    body .tagLine {
      font-family: 'Libre Baskerville', serif;
      font-size: 20px;
      position: absolute;
      bottom: 30px;
      margin-left: 20px;
      color: #333333;
      padding-left: 30px;
      padding-right: 20px; }

  /*BODY CONTENT*/
  #pageEnd {
    display: flex; }

  .socialMedia {
    position: absolute;
    right: 0;
    padding: 0px 40px 0px 0px; }

  .socialMedia li {
    float: right; }

  .socialMedia a {
    display: block;
    width: 30px;
    padding: 10px; } }
/*Desktop------------------------------*/
@media (min-width: 769px) {
  .introText p {
    color: #525050;
    font-size: 15px;
    width: 55%; }

  button {
    display: none; }

  /*BODY CONTENT*/
  header {
    display: absolute;
    width: 100%;
    height: 50px;
    margin-bottom: 15px; }

  body h1 {
    font-size: 4rem;
    font-family: 'Oswald', sans-serif;
    margin: 25px 0px 25px 0px; }

  body p {
    margin: 25px 0px 25px 0px;
    font-size: 1.2rem; }

  body {
    font-size: 15px;
    margin: 50px;
    font-family: 'Libre Baskerville', serif;
    color: white;
    background-color: #0E0E0E; }
    body #backgroundAccent {
      background-color: #151516;
      -webkit-clip-path: polygon(100% 0, 100% 100%, 50% 50%);
      clip-path: polygon(100% 0, 100% 100%, 50% 50%);
      /* creates the decorative background triangle*/
      height: 100%;
      width: 100%;
      right: 0;
      position: absolute;
      z-index: -1; }
    body main {
      font-size: 15px;
      margin: 50px; }
    body #project1 {
      display: absolute;
      background-color: grey;
      width: 100%;
      height: 200px;
      margin-bottom: 15px; }
    body #project2 {
      display: absolute;
      background-color: grey;
      width: 100%;
      height: 200px;
      margin-bottom: 15px; }
    body #project3 {
      display: absolute;
      background-color: grey;
      width: 100%;
      height: 200px;
      margin-bottom: 15px; }
    body #project4 {
      display: absolute;
      background-color: grey;
      width: 100%;
      height: 200px;
      margin-bottom: 50px; }
    body .bottomLogo {
      position: relative;
      width: 300px;
      height: 300px; }
    body .tagLine {
      font-family: 'Libre Baskerville', serif;
      font-size: 60px;
      position: absolute;
      bottom: 100px;
      margin-left: 20px;
      color: #333333;
      padding-left: 80px;
      padding-right: 20px;
      width: 400px; }

  /*BODY CONTENT*/
  #pageEnd {
    display: flex; }

  .socialMedia {
    position: absolute;
    right: 0;
    padding: 0px 40px 0px 0px; }

  .socialMedia li {
    float: right; }

  .socialMedia a {
    display: block;
    width: 30px;
    padding: 10px; } }
/*Mobile-------------------------------*/
@media (max-width: 500px) {
  #bottomNav ul {
    font-family: 'Futura', sans-serif;
    font-size: 12px;
    display: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-top: 30px; }

  #bottomNav li {
    padding: 10px;
    float: right; }

  #bottomNav a {
    text-decoration: none;
    color: white; }

  .copyright {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-family: 'Futura', sans-serif;
    font-size: 10px; } }
/*Tablet-------------------------------*/
@media (max-width: 768px) and (min-width: 501px) {
  #bottomNav ul {
    font-family: 'Futura', sans-serif;
    display: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; }

  #bottomNav li {
    padding: 10px;
    float: right; }

  #bottomNav a {
    text-decoration: none;
    color: white; }

  .copyright {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-family: 'Futura', sans-serif;
    font-size: 10px; } }
/*Desktop------------------------------*/
@media (min-width: 769px) {
  #bottomNav ul {
    font-family: 'Futura', sans-serif;
    display: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; }

  #bottomNav li {
    padding: 10px;
    float: right; }

  #bottomNav a {
    text-decoration: none;
    color: white; }

  .copyright {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-family: 'Futura', sans-serif;
    font-size: 10px; } }
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.hidden {
  display: none; }

/*# sourceMappingURL=main.css.map */
