body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
/*Mobile-------------------------------*/
@media (max-width:500px) {

/*BODY CONTENT*/


header {
    display: absolute;
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
}

body h1 {
    font-size: 3rem;
    font-family: 'Oswald', sans-serif;
    margin: 25px 0px 25px 0px;
}

body p {
    margin: 25px 0px 25px 0px;
    font-size: 1.2rem;
}

body {
    font-size: 15px;
    margin: 50px;
    font-family: 'Libre Baskerville', serif;
    color: white;
    background-color: map-get($colors, mainColor);

    #backgroundAccent {
        background-color: map-get($colors, homeTriangle);
        -webkit-clip-path: polygon(100% 0, 100% 100%, 50% 50%);
        clip-path: polygon(100% 0, 100% 100%, 50% 50%);/*creates the decorative background triangle*/
        height: 100%;
        width: 100%;
        right: 0;
        position: absolute;
        z-index: -1;
    }

    main {
        font-size: 15px;
        margin: 50px;
    }

    #bioCont {
        display: flex;
        position: relative;
        background-color:#101010;
        width: 100%;
        height: 40%;
        margin-bottom: 15px;
    }
     .bioText {
        width: 40%;
        z-index: 2;
        padding: 25px;
     }
     .bioText h2 {
        font-size: 14px;
        font-family: 'Futura', 'Didact Gothic', sans-serif;
     }
     
     .bioText p {
        font-size: 8px;
        font-family: 'Libre Baskerville', serif;
        color: #A2A2A2;
     }

     .watermark {
         width: 100%;
     }

    // watermark
    .bioText img {
        width: 80%;
    }


    .bioProfile {
       display: flex;
    }

    .bioProfile img {
        position: absolute;
        width: 175px;
        height: auto;
        right:0;
        bottom: 0;
        z-index: 1;
    }

 
//project video 
    #projectVid {
        display: flex;
        background-color: grey;
        width: 100%;
        height: 200px;
        margin-bottom: 15px;
    }

    .demoReel {
        margin-top: 30px;
        width: 100%;
    }
    
    .demoReel video {
      margin-top: 20%;
      width: 50%; 
    }
    
      .play {
          width: 10px;
          cursor: pointer;
          padding: 20px;
        }
    
        .stop {
            width: 10px;
            cursor: pointer;
            padding: 20px;
          }


          .rewind {
            width: 20px;
            cursor: pointer;
            padding: 20px;
          }

          .video-controls i {
            color: white;
            font-size: 2em;
            cursor: pointer;
            padding: 30px;
          }
          
          .video-controls {
            top: 200px;
            display: flex;
            justify-content: center;
          }
        
        
    .bottomLogo {
        float: left;
        position: relative;
        width: 105px;
        height: 105px;
    }
    

    .tagLine {
        font-family: 'Libre Baskerville', serif; 
        font-size: 20px;
        position: absolute;
        bottom: 30px;
        margin-left: 20px;
        color: #333333;
        padding-left: 30px;
        padding-right: 20px;
    }

}

#pageEnd {
    display: flex;
    padding: 15px 0px 0px 0px;
}


.socialAbout li {
    float: left;
}

.socialAbout a {
   display: block;
   width: 20px;
   padding: 1px;
}



}

/*Tablet-------------------------------*/
@media (max-width:768px) and (min-width: 501px){

/*BODY CONTENT*/

.introText p {
    color: #525050;
    font-size: 15px;
    width: 55%;
}

header {
    display: absolute;
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
}


body h1 {
    font-size: 4rem;
    font-family: 'Oswald', sans-serif;
    margin: 25px 0px 25px 0px;
}

body p {
    margin: 25px 0px 25px 0px;
    font-size: 1.2rem;
}

body {
    font-size: 15px;
    margin: 50px;
    font-family: 'Libre Baskerville', serif;
    color: white;
    background-color: map-get($colors, mainColor);

    #backgroundAccent {
        background-color: map-get($colors, homeTriangle);
        -webkit-clip-path: polygon(100% 0, 100% 100%, 50% 50%);
        clip-path: polygon(100% 0, 100% 100%, 50% 50%);/*creates the decorative background triangle*/
        height: 100%;
        width: 100%;
        right: 0;
        position: absolute;
        z-index: -1;
    }

    main {
        font-size: 15px;
        margin: 50px;
    }

    #bioCont {
        display: flex;
        position: relative;
        background-color:#101010;
        width: 100%;
        height: 40%;
        margin-bottom: 15px;
    }
     .bioText {
        width: 40%;
        z-index: 2;
        padding: 25px;
     }
     .bioText h2 {
        font-size: 14px;
        font-family: 'Futura', 'Didact Gothic', sans-serif;
     }
     
     .bioText p {
        font-size: 8px;
        font-family: 'Libre Baskerville', serif;
        color: #A2A2A2;
     }

     .watermark {
        width: 100px;
    }

    .bioText img {
        width: 80%;
    }

    .bioProfile {
       display: flex;
    }

    .bioProfile img {
        position: absolute;
        width: 300px;
        height: auto;
        right:0;
        bottom: 0;
        z-index: 1;
    }


    #projectVid {
        display: flex;
        background-color: grey;
        width: 100%;
        height: 200px;
        margin-bottom: 15px;
    }

    .demoReel {
        margin-top: 30px;
        width: 100%;
    }
    
    .demoReel video {
      margin-top: 30%;
      width: 50%; }
    
      .play {
          width: 15px;
          cursor: pointer;
          padding: 20px;
        }
        
        .stop {
          width: 15px;
          height: 40px;
          cursor: pointer;
          padding: 20px;
        }
        
        .rewind {
          width: 25px;
          cursor: pointer;
          padding: 20px;
        }
        
        .video-controls i {
          color: white;
          font-size: 2em;
          cursor: pointer;
          padding: 30px;
        }
        
        .video-controls {
          top: 200px;
          display: flex;
          justify-content: center;
        }


    .bottomLogo {
        position: relative;
        font-family: Arial;
        width: 105px;
        height: 105px;
    }
    
    .tagLine {
        font-family: 'Libre Baskerville', serif; 
        font-size: 20px;
        position: absolute;
        bottom: 30px;
        margin-left: 20px;
        color: #333333;
        padding-left: 30px;
        padding-right: 20px;
    }
}

#pageEnd {
    display: flex;
    padding: 15px 0px 0px 0px;
}

.socialAbout li {
    float: left;
}

.socialAbout a {
   display: block;
   width: 20px;
   padding: 2px;
}


}


/*Desktop------------------------------*/
@media (min-width: 769px){


.introText p {
    color: #525050;
    font-size: 15px;
    width: 55%;
    }

    #burgBtn {
        display: none;
    }

header {
    display: absolute;
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
}

body h1 {
    font-size: 4rem;
    font-family: 'Oswald', sans-serif;
    margin: 25px 0px 25px 0px;
}

body p {
    margin: 25px 0px 25px 0px;
    font-size: 1.2rem;
}

body {
    font-size: 15px;
    margin: 50px;
    font-family: 'Libre Baskerville', serif;
    color: white;
    background-color: map-get($colors, mainColor);

    #backgroundAccent {
        background-color: map-get($colors, homeTriangle);
        -webkit-clip-path: polygon(100% 0, 100% 100%, 50% 50%);
        clip-path: polygon(100% 0, 100% 100%, 50% 50%);/* creates the decorative background triangle*/
        height: 100%;
        width: 100%;
        right:0;
        position: absolute;
        z-index: -1;
        
    }

    main {
        font-size: 15px;
        margin: 50px;
    }


    #bioCont {
        display: flex;
        position: relative;
        background-color:#101010;
        width: 100%;
        min-height: 400px;
        margin-top: 100px;
        margin-bottom: 15px;
    }
     .bioText {
        width: 50%;
        z-index: 2;
        padding: 25px;
     }
     .bioText h2 {
        font-size: 24px;
        font-family: 'Futura', 'Didact Gothic', sans-serif;
     }
     
     .bioText p {
        font-size: 18px;
        font-family: 'Libre Baskerville', serif;
        color: #A2A2A2;
     }

     .watermark {
        width: 200px;
    }

    .bioText img {
        width: 80%;
    }

    .bioProfile {
       display: flex;
    }

    .bioProfile img {
        position: absolute;
        width: 450px;
        height: auto;
        right:0;
        bottom: 0;
        z-index: 1;
    }

    #projectVid {
        display: flex;
        background-color: grey;
        width: 100%;
        height: 200px;
        margin-bottom: 15px;
    }

    .demoReel {
        margin-top: 30px;
        width: 100%;
    }
    
    .demoReel video {
      margin-top: 30%;
      width: 50%; }
    
      .play {
          width: 20px;
          cursor: pointer;
          padding: 20px;
        }
        
        .stop {
          width: 20px;
          height: 40px;
          cursor: pointer;
          padding: 20px;
        }
        
        .rewind {
          width: 40px;
          cursor: pointer;
          padding: 20px;
        }
        
        .video-controls i {
          color: white;
          font-size: 2em;
          cursor: pointer;
          padding: 30px;
        }
        
        .video-controls {
          top: 200px;
          display: flex;
          justify-content: center;
          margin-bottom: 200px;
        }


    .bottomLogo {
        position: relative;
        width: 300px;
        height: 300px;
    }
    
    .tagLine {
        font-family: 'Libre Baskerville', serif; 
        font-size: 60px;
        position: absolute;
        bottom: 100px;
        margin-left: 20px;
        color: #333333;
        padding-left: 80px;
        padding-right: 20px;
        width: 400px;
    }

}

#pageEnd {
    display: flex;
    padding: 15px 0px 0px 0px;
}
.socialAbout {
   margin-top: 50px;
}
.socialAbout li {
    float: left;
}

.socialAbout a {
   display: block;
   width: 45px;
   padding: 5px;
}


}