/*Mobile-------------------------------*/
@media (max-width:500px) {
   /*HEADER & TOP NAV*/


#topNav {
    float: right;
}

#topNav ul {
    margin: 0;
    padding: 0;
    font-family: 'Futura', sans-serif;
    display: none;
    list-style: none;
    float: right;
}

#topNav li {
   padding: 10px;
   display: inline-block;
}


.logo {
    width: 100px;
    height: auto;
    float: left;
}

.toggleNav {
    position: absolute;
    right: 0;
    float: right;
    width: 25px;
    padding: 0px 50px 0px 0px;
}

#burgBtn{
    width: 25px;
    border: 0;
    padding: 0;
    background: none;
    cursor: pointer;
}

// toggle navigation setup
#toggleList {
    position: fixed;
	display: none;
    right: 0;
}

#toggleList li {
    padding: 10px;
}

#toggleList a{
    text-decoration: none;
    color: black;
 }

#toggleList.active {
    display: block;
    position: absolute;
    font-family: 'Oswald', sans-serif;
    font-size: 100px;
    margin-right: 0px;
    color: black;
    background-color: white;
    width: 100%;
    z-index: 999;
  }


}
    
    /*Tablet-------------------------------*/
    @media (max-width:768px) and (min-width: 501px){
        
      .topBar {
          height: 0;
      }
        
        #topNav {
            display: inline-block;
        }

        #topNav ul {
            margin: 0;
            padding: 0;
            font-family: 'Futura', sans-serif;
            display: none;
            list-style: none;
            float: right;
        }
        
        #topNav li {
           padding: 10px;
           display: inline-block;
        }

        #topNav a{
            text-decoration: none;
            color: black;
         }
        
        .logo {
            width: 100px;
            height: auto;
            float: left;
        }

        #burgBtn{
            cursor: pointer;
        }
        
        .toggleNav {
            position: absolute;
            right: 0;
        }
        
        .toggleNav img {
            float: right;
            width: 25px;
            padding: 0px 50px 0px 0px;
        }
        
        // toggle navigation setup
#toggleList {
    position: fixed;
	display: none;
    right: 0;
}

#toggleList li {
    padding: 10px;
}

#toggleList a{
    text-decoration: none;
    color: black;
 }

#toggleList.active {
    display: block;
    position: absolute;
    font-family: 'Oswald', sans-serif;
    font-size: 100px;
    margin-right: 0px;
    color: black;
    background-color: white;
    width: 100%;
    z-index: 999;
  }

        button {
            border: 0;
            padding: 0;
            background: none;
        }
        
        #hamMenu {
            display: none;
        }
    }
/*HEADER & TOP NAV*/

    
/*Desktop------------------------------*/
    @media (min-width: 769px){
/*HEADER & TOP NAV*/

#burgBtn {
    display: none;
}

#topNav {
    float: right;
    z-index: 999;
}

#topNav ul {
    margin: 0;
    padding: 0;
    font-family: 'Futura', sans-serif;
    display: hidden;
    list-style: none;
    float: right;
}

#topNav li {
   padding: 10px;
   display: inline-block;
   cursor: pointer;
}

#topNav a{
    text-decoration: none;
    color: white;
 }

.logo {
    width: 100px;
    height: auto;
    float: left;
}

#toggleList a{
    display: none;
 }

#hamMenu {
    display: none;
}


/*HEADER & TOP NAV*/


    }