/*Mobile-------------------------------*/
@media (max-width:500px) {
   /*HEADER & TOP NAV*/


#topNav {
    float: right;
}

#topNav ul {
    margin: 0;
    padding: 0;
    font-family: 'Futura', sans-serif;
    display: none;
    list-style: none;
    float: right;
}

#topNav li {
   padding: 10px;
   display: inline-block;
}

.logo {
    width: 100px;
    height: auto;
    float: left;
}

.toggleNav {
    position: absolute;
    right: 0;
    float: right;
    width: 25px;
    padding: 0px 50px 0px 0px;
}

#burgBtn{
    width: 25px;
    cursor: pointer;
}

#closeBtn{
    width: 25px;
}

// toggle navigation setup
#toggleList {
	display: none;
	margin-top: 20px;
}

#toggleList.active {
    display: block;
    margin-right: 0px;
    color: black;
    background-color: white;
  }


button {
    border: 0;
    padding: 0;
    background: none;
}



}
    
    /*Tablet-------------------------------*/
    @media (max-width:768px) and (min-width: 501px){
        
      .topBar {
          height: 0;
      }
        
        #topNav {
            display: inline-block;
        }

        #topNav ul {
            margin: 0;
            padding: 0;
            font-family: 'Futura', sans-serif;
            display: none;
            list-style: none;
            float: right;
        }
        
        #topNav li {
           padding: 10px;
           display: inline-block;
        }
        
        .logo {
            width: 100px;
            height: auto;
            float: left;
        }

        .toggleNav {
            position: absolute;
            right: 0;
        }
        
        .toggleNav img {
            float: right;
            width: 25px;
            padding: 0px 50px 0px 0px;
        }
        
        button {
            border: 0;
            padding: 0;
            background: none;
        }
        
        #hamMenu {
            display: none;
        }
    }
/*HEADER & TOP NAV*/

    
    /*Desktop------------------------------*/
    @media (min-width: 769px){
/*HEADER & TOP NAV*/

#topNav {
    float: right;
}

#topNav ul {
    margin: 0;
    padding: 0;
    font-family: 'Futura', sans-serif;
    display: hidden;
    list-style: none;
    float: right;
}

#topNav li {
   padding: 10px;
   display: inline-block;
}

.logo {
    width: 100px;
    height: auto;
    float: left;
}

#hamMenu {
    display: none;
}


/*HEADER & TOP NAV*/


    }